:root{
	--background: #101020;
	--dark-background: #080810;
	--light-background: #202030;
	--foreground: #c0c0ff;
	--negro: #040408;
	--azul: #1793d3;
	--morado: #cb8aff;
	--rojo: #f7768e;
	--verde: #9ece6a;
	--naranja: #ff9e64;
}
@font-face{
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu.ttf");
}
@font-face{
	font-family: "Jetbrains Mono";
	src: url("../fonts/JetBrainsMono.ttf");
}
@font-face{
	font-family: "Jetbrains Mono NL";
	src: url("../fonts/JetBrainsMonoNL.ttf");
}
@keyframes rebotar{
	from{
		transform: translateX(2vw);
	}
}
@keyframes scroll{
	to{
		transform: translate(calc(-50% - 0.5vw));
	}
}
@keyframes mover{
	to{
		opacity: 1;
		transform: none;
	}
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--foreground);
	font-size: 1.4vw;
	font-family: "Ubuntu", "sans-serif";
	transition: all 300ms ease-in-out;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: var(--background);
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*menu*/
header{
	position: fixed;
	display: flex;
	top: 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5.4vw;
	padding: 0 5vw;
	z-index: 20;
}
.headerOscuro{
	background-color: #040408bb;
	backdrop-filter: blur(0.4vw);
}
.icono{
	display: block;
	background-image: url("../icons/logo_white.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 80%;
	aspect-ratio: 1/1;
	opacity: 0;
	transform: translateY(-5vw);
	animation: mover 1000ms ease 700ms forwards;
}
.icono:hover{
	filter: drop-shadow(0 0 2vw var(--foreground));
}
.menu{
	display: flex;
	list-style: none;
	gap: 3vw;
	font-weight: bold;
}
.menu li{
	opacity: 0;
	transform: translateX(5vw);
	animation: mover 600ms ease forwards;
	animation-delay: calc(1000ms + var(--tiempo) * 200ms);
}
.menu a{
	text-decoration: none;
	border-bottom: 0.2vw solid transparent;
}
.menu a:hover{
	border-bottom: 0.2vw solid var(--foreground);
}
.menu .activo{
	border-bottom: 0.2vw solid var(--foreground);
}
.tema{
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	border: 0.2vw solid var(--foreground);
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	background-image: url("../icons/sol.svg");
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	opacity: 0;
	transform: translateY(5vw);
	animation: mover 1000ms ease 700ms forwards;
}
.tema:hover{
	filter: drop-shadow(0 0 1vw var(--foreground));
	cursor: pointer;
}
section{
	padding-top: 6vw;
}
h1, h2, h3, h4{
	text-align: center;
	margin: 2vw 0;
}
h2{
	margin-top: 0;
}

/*inicio*/
.inicio{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8vw;
}
h1{
	text-align: center;
	opacity: 0;
	transform: translateY(16vw);
	animation: mover 1000ms ease forwards;
}
h1 o{
	padding: 0 0.6vw;
	font-family: "Jetbrains Mono NL", "monospace;";
	font-size: 8vw;
	outline: 0.2vw solid var(--foreground);
	outline-offset: -0.1vw;
}
.simbolo{
	color: var(--verde);
}
.barra{
	color: var(--rojo);
}
h4{
	text-align: center;
	margin: 1.6vw 0 2vw 0;
	opacity: 0;
	transform: translateY(5vw);
	animation: mover 800ms ease 300ms forwards;
}
.flecha{
	font-family: "Jetbrains Mono", "monospace";
	rotate: 90deg;
	width: 5vw;
	height: 5vw;
	font-size: 4vw;
	color: var(--morado);
	opacity: 0;
	transform: translateX(5vw);
	animation: mover 800ms ease 500ms forwards;
}
.flecha p{
	width: 5vw;
	font-family: "JetBrains Mono";
	text-align: center;
	font-size: 4vw;
	color: var(--morado);
	animation: rebotar 500ms infinite 500ms alternate;
}

/*sobre mi*/
h2{
	font-size: 3vw;
}
.descripcion{
	display: flex;
	width: 80%;
	height: 33vw;
	margin: auto;
	background-color: var(--dark-background);
	border-radius: 2vw;
}
.descripcion div{
	width: 50%;
	opacity: 0.7;
	background-color: var(--dark-background);
}
.resumen{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 2vw 0 0 2vw;
	padding: 4vw;
	padding: 2vw 5vw;
	line-height: 2.4vw;
}
.resumen p{
	font-size: 1.6vw;
}
.resumen .autor{
	font-size: 1.2vw;
}
.foto{
	border-radius: 0 2vw 2vw 0;
	height: 100%;
	background-image: url("../img/Jhohan.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.resumen:hover{
	transform: scale(1.1) rotate(-2deg);
	opacity: 1;
	z-index: 5;
}
.foto:hover{
	transform: scale(1.1) rotate(2deg);
	opacity: 1;
	z-index: 5;
}

/*proyecto*/
.galeria{
	display: flex;
	width: 80vw;
	height: 33vw;
	margin: 2vw auto;
	background-color: var(--negro);
}
.galeria div{
	width: 0%;
	flex-grow: 1;
	object-fit: cover;
	opacity: 0.4;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}
.galeria div:hover{
	width: 40%;
	opacity: 1;
}
.galeria div p{
	width: 25vw;
	text-align: center;
	margin: auto;
	padding: 1vw;
	border-radius: 1vw;
	color: transparent;
}
.galeria div:hover > p{
	background-color: #000a;
	color: #fff;
}
.virus{
	background-image: url("../img/virus.jpg");
}
.parkour{
	background-image: url("../img/parkour.png");
}
.todo{
	background-image: url("../img/ToDo.png");
}
.trabalenguas{
	background-image: url("../img/trabalenguas.png");
}

/*habilidades*/
.scroll{
	width: 70%;
	overflow: hidden;
	margin: 1vw auto;
}
.elementos{
	padding-block: 1vw;
	display: flex;
	flex-wrap: wrap;
	gap: 1vw;
	list-style: none;
}
.elementos li{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8vw;
	padding: 1.8vw;
	background-color: var(--light-background);
	border-radius: 1vw;
	box-shadow: 0 0 1vw var(--negro);
}
.elementos li img{
	display: block;
	margin: auto;
	height: 12vw;
}
.scroll[data-animated=true]{
	overflow: hidden;
	mask: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
	-webkit-mask: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
}
.scroll[data-animated=true] .texto{
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 40s linear infinite;
}
.scroll[data-animated=true] .imagenes{
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 30s linear infinite;
}

/*portafolio*/
.columnas{
	display: flex;
	width: 80%;
	margin: 3vw auto;
	gap: 2.4vw;
}
article{
	flex: 1;
	background-color: var(--light-background);
	border-radius: 1vw;
}
article div{
	display: flex;
	align-items: center;
	height: 15vw;
	width: 100%;
	background: linear-gradient(45deg, var(--azul), var(--morado));
	border-radius: 1vw 1vw 0 0;
}
article img{
	margin: auto;
	height: 100%;
	transform: scale(1.1);
}
article:hover{
	transform: scale(1.05);
}
article:hover img{
	transform: scale(1.3);
}
article h3{
	margin-bottom: 0;
}
article p{
	margin: 1.6vw;
	margin-top: 0.6vw;
	font-size: 1.2vw;
	line-height: 1.8vw;
	text-align: center;
}

/*pie de pagina*/
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw 2vw 1vw;
	background-color: var(--negro);
}
footer ul{
	display: flex;
	justify-content: center;
	gap: 1vw;
	list-style: none;
	margin: 2vw;
}
footer li{
	border-radius: 50%;
}
.facebook{
	background: #1177f7;
}
.instagram{
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.github{
	background: #1b1e23;
}
footer div{
	display: flex;
	width: 3.6vw;
	height: 3.6vw;
	justify-content: center;
	align-items: center;
	background: #c0c0ff33;
	padding: 0.6vw;
	border-radius: 50%;
}
footer div:hover{
	transform: translate(0.4vw, 0.4vw) rotate(20deg);
}
footer img{
	height: 100%;
}
.logoPie{
	width: 6vw;
	height: 7vw;
	margin: 2vw 0 1vw;
}
.logoPie:hover{
	transform: translateY(-1.4vw) scale(1.4);
}
footer p{
	font-size: 1vw;
}

[data-theme="light"]{
	--background: #e0e0ff;
	--dark-background: #cad5fe;
	--light-background: #bbddff;
	--foreground: #101642;
	--azul: #1793ff;
	--negro: #080810;
	--morado: #db4be5;
	--rojo: #ff465e;
	--verde: #96dd00;
	--naranja: #ff6040;
	body{
		background-image: url("../img/background_claro.png");
	}
	.headerOscuro{
		background: #e0e0ffbb;
	}
	.icono{
		background-image: url("../icons/logo_black.png");
	}
	.tema{
		background-image: url("../icons/luna.svg");
	}
	.foto{
		background-image: url("../img/Jhohan_claro.jpg");
	}
	.galeria{
		background-color: var(--light-background);
	}
	.galeria div{
		opacity: 0.7;
	}
	.galeria div:hover{
		opacity: 1;
	}
	.elementos li{
	box-shadow: 0 0 .6vw #1793ffbb;
	}
	footer{
		background-color: var(--foreground);
	}
	footer p{
		color: var(--light-background);
	}
}